.shoes__main{
    background: rgb(46,84,155);
background: -moz-linear-gradient(90deg, rgba(46,84,155,0) 31%, rgba(113,1,175,1) 68%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(46,84,155,0) 31%, rgba(113,1,175,1) 68%, rgba(0,0,0,1) 100%);
background: linear-gradient(90deg, rgba(46,84,155,0) 31%, rgba(113,1,175,1) 68%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e549b",endColorstr="#000000",GradientType=1);
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem
  }
  .shoes__title{
    text-align: center;
    font-family: var(--font-family);
    margin-bottom: 3rem;
  }
  .shoes__title h1{
    color: wheat;
    font-size: 60px;
    font-weight: 1200;
  }
  .shoes__wrap{
    display: flex;
    flex-wrap: wrap;
  }
  .shoes__image{
    flex-basis: calc(25% - 1rem);
    max-width: calc(25% - 1ren);
  }
  .shoes__content{
    margin-left: 1rem;
    flex-basis: calc(75% - 1rem);
    max-width: calc(75% - 1rem);
    text-align: start;
  }
  .shoes__content p{
    font-size: 18px;
    color: white;
    font-family: var(--font-family);
  }

  .shoes__image img{
    margin-top: 5px;
    max-height: 400px;
  }