* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    
    background: -moz-linear-gradient(270deg, rgba(83,83,83,1) 12%, rgba(153,153,153,1) 44%, rgba(204,204,204,1) 82%);
    background: -webkit-linear-gradient(270deg, rgba(83,83,83,1) 12%, rgba(153,153,153,1) 44%, rgba(204,204,204,1) 82%);
    background: linear-gradient(270deg, rgba(83,83,83,1) 12%, rgba(153,153,153,1) 44%, rgba(204,204,204,1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#535353",endColorstr="#cccccc",GradientType=1);
    border-radius: 0 0 8px 8px;
    
}
.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__text__header {
    background: var(--gradient-text-header);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__text__normal{
    background: var(--gradient-text-normal);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__text__boczny {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 3rem;    
}
.section__padding {
    padding: 1rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.section__round{
    border-radius: 8px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @media screen and (max-width: 700px){
      .section__padding {
          padding: 4rem;
      }
      .section__margin {
          margin: 4rem;
      }
  }

  @media screen and (max-width: 550px){
      .section__padding{
          padding: 4rem 2rem;
      }
      .section__margin{
          margin: 4rem 2rem;
      }
      
  }
  